  html {
    scroll-behavior: smooth;
  }
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFF5F5;
  }
.anchor-section {
  scroll-margin-top: 12rem;
}

/* fonts */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #006CA2;
 }
 .uppercase {
  text-transform: uppercase;
}

.py-2{
  padding: 1rem 0 0 0;
}
 

.bg-white {
  background-color: #FFFFFF;
}



.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.modal-content {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    position: relative;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.input-error {
    border: 2px solid red;
}

.field-error {
    color: red;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 4px;
    display: block;
}
/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* Modal title */
.modal-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

/* Container for inputs */
.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input fields */
.input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Textarea field */
.textarea-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 100px;
    transition: border-color 0.3s;
}

.textarea-field:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Submit button */
.btn-submit {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #45a049;
}

/* mobile */
@media only screen and (max-width: 599px) {
  .header-content {
    margin: 0.5rem 0 0 0.5rem;
  }

   header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:599px;
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }

    /** styles modal **/
 .modal-container {
        max-width: 600px;
        padding: 15px;
    }

    .modal-title {
        font-size: 20px;
    }

    .input-field,
    .textarea-field {
        font-size: 14px;
    }

    .btn-submit {
        font-size: 14px;
    }

  .logo-container {
    margin-left: 7.5rem;
  }

  main {
    padding-top: 12rem; 
  }
  .line {
    height: 2px;
    background-color: #006CA2;
    margin-left: 8rem;
    width: 12.5rem;
  }
  .text-logo-container {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: -0.8rem;
    margin-left: 8rem;
    color: #006CA2;
  }


  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0.8rem 0;
    margin: -0.6rem 0 0 0;
    flex-wrap: wrap;
    font-size: 0.8rem;
    background-color: #006CA2;
    max-width: 100%;
    z-index: 1;
  }

  .nav-list li {
    margin: 0 0.5rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: 500;
  }

  .hero {
    position: relative;
    height: 36vh;
  }

  .text-hero  {
    color: #FFFFFF;
    text-align: center;
    padding-top: 1rem;
  }

  .parrafo-hero {
    color: #FFFFFF;
    padding-top: 1rem;
    font-size: 0.8rem;
  }

  .location-container {
    display: flex;
    align-items: center; 
    gap: 0.5rem;          
    margin: -0.8rem 0 0 7rem;
  }
  .hero-image {
    position: absolute;
    left: 0;
    top: -1.4rem;
    max-width: 100%;
    max-height: 100vh;
    z-index: -1;
    filter: brightness(45%);
    transition: filter 0.3s ease-out;
  }



  .btn-primary {
    display: block;
    margin: 1rem auto; 
    padding: 0.75rem 1.5rem;
    background-color: #1188F8;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #00517f;
  }

  .services{
    background-color: #FFFFFF;
  }

  .item {
    max-width: 100%;
    height: 250px;
  }

  .title-service {
    padding-top: 1rem;
  }

  .card h3 {
    font-size: 1.3rem;
    margin: -0.2rem 0 0 0;
  }
  .card p {
    padding: 0 1.3rem 0 1.3rem;
  }

  .services {
    box-shadow:  5px 2px rgba(0, 0, 0, 0.2);
  }

  .section-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem 0 0 0;
  }
  .projects{
    margin: 2rem 0 0 0;
  }
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 0 auto;
  }
  
  .card-project {
    background-color: #D9D9D9;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .contact-container {
    margin: 2rem 0 2rem 0;
    padding: 0 1rem;
  }

  .card-contact {
    padding: 1.2rem 1.2rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
  }

  .line-footer {
    height: 1rem;
    background-color: #006CA2;
  }

  .container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
  }
  .container-footer h2{
    font-size: 1rem;
  }
  .container-footer img{
    width: 130px;
  }

  .sticky-wrapper {
    position: relative;
  }
  
  .sticky-img {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 80vh;
    object-fit: contain;
    z-index: -1;
  }
  

  .projects,
  .contact-container {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.95);
  }
}

/* tablet */

@media only screen and (min-width: 599px) and (max-width: 1023px) {

  .header-content {
    margin: 0.5rem 0 0 0.5rem;
  }

    /** styles modal **/
  .modal-container {
        max-width: 900px;
        padding: 45px;
    }

    .modal-title {
        font-size: 34px;
    }

    .input-field,
    .textarea-field {
        font-size: 21px;
    }

    .btn-submit {
        font-size: 21px;
        padding: 22px;
    }


  .line {
    height: 2px;
    background-color: #006CA2;
    margin: 0 0 0 0.5rem;
    width: 12.5rem;
  }

  .text-logo-container {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: -0.8rem 0 0 0.5rem;
    color: #006CA2;
  }


  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem 0;
    margin: -0.6rem 0 0 0;
    flex-wrap: wrap;
    font-size: 0.9rem;
    background-color: #006CA2;
    max-width: 100%;
    z-index: 1;
  }

  .nav-list li {
    margin: 0 0.5rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: 500;
  }


  .hero {
    position: relative;
    height: 45vh;
  }

  .text-hero {
    color: #FFFFFF;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
  }

  .parrafo-hero {
    color: #FFFFFF;
    padding-top: 1rem;
    font-size: 1.2rem;
  }

  .location-container {
    display: flex;
    align-items: center; 
    gap: 0.5rem;          
    justify-content: center;
    margin: -1.5rem 0 0 0;
  }

  .hero-image {
    position: absolute;
    left: 0;
    top: -2rem;
    width: 100%;
    height: auto;    
    max-height: 400px;
    z-index: -1;
    filter: brightness(45%);
    transition: filter 0.3s ease-out;
  }

  .btn-primary {
    display: block;
    margin: 1rem auto; 
    padding: 0.75rem 1.5rem;
    background-color: #1188F8;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #00517f;
  }

  .services {
    background-color: #FFFFFF;
  }

  .item {
    max-width: 100%;
    height: 250px;
  }

  .title-service {
    padding-top: 1rem;
  }

  .card h3 {
    font-size: 1.3rem;
    margin: -0.2rem 0 0 0;
  }

  .card p {
    padding: 0 1.3rem 0 1.3rem;
  }


  .section-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
    padding: 1rem 0 0 0;
  }

  .projects {
    margin: 2rem 0 0 0;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 0 auto;
  }

  .card-project {
    background-color: #D9D9D9;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .contact-container {
    margin: 2rem 0 2rem 0;
    padding: 0 1rem;
  }

  .card-contact {
    padding: 1.2rem 1.2rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
  }

  .line-footer {
    height: 1rem;
    background-color: #006CA2;
  }

  .container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
  }

  .container-footer h2 {
    font-size: 1rem;
  }

  .container-footer img {
    width: 130px;
  }


  .sticky-wrapper {
    position: relative;
  }

  .sticky-img {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 60vh;
    object-fit: contain;
    z-index: -1;
  }

  .projects,
  .contact-container {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.95);
  }
}

/** desktop **/
@media only screen and (min-width: 1024px) {
  body {
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem);
  }


    .header-content {
      margin: 0.5rem 0 0 0.5rem;
    }

    .modal-container {
          max-width: 700px;
          padding: 30px;
      }

      .modal-title {
          font-size: 28px;
      }

      .input-field,
      .textarea-field {
          font-size: 18px;
      }

      .btn-submit {
          font-size: 18px;
          padding: 16px;
      }
  .line {
    height: 2px;
    background-color: #006CA2;
    margin: 0 0 0 0.5rem;
    width: 12.5rem;
  }
  .text-logo-container {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: -0.8rem 0 0 0.5rem;
    color: #006CA2;
  }

    .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: -0.6rem 0 0 0;
    flex-wrap: wrap;
    font-size: 1rem;
    background-color: #006CA2;
    max-width: 100%;
    z-index: 1;
  }

  .nav-list li {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
     transition: background-color 0.3s ease;
  }

    .nav-list li:hover {
        background-color: #00527F;
  }

  .nav-list li a {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: 500;
  }

  
  .hero {
    position: relative;
    height: 55vh;
  }

  .text-hero  {
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    padding-top: 1.3rem;
  }

  .parrafo-hero {
    color: #FFFFFF;
    padding-top: 1rem;
    font-size: 1rem;
  }

  .location-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: -1rem 0 0 0 ;
    gap: 0.5rem;          
  }
  .hero-image {
    position: absolute;
    left: 0;
    top: -1.8rem;
    width: 100%;
    height: 500px;
    z-index: -1;
    filter: brightness(45%);
    transition: filter 0.3s ease-out;
  }



  .btn-primary {
    display: block;
    margin: 1rem auto; 
    padding: 0.75rem 1.5rem;
    background-color: #1188F8;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #00517f;
  }

    .services {
    background-color:#FFFFFF ;
    height: 450px;
  }

  .item {
    max-width: 100%;
    height: 250px;
  }

  .title-service {
    padding-top: 1rem;
  }

  .card h3 {
    font-size: 1.3rem;
    margin: -0.2rem 0 0 0;
  }

  .card p {
    padding: 0 1.3rem 0 1.3rem;
  }


  .section-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
    padding: 1rem 0 0 0;
  }

    .projects {
    margin: 2rem 0 0 0;
  }

  .projects h3 {
    font-size: 1.6rem;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 1rem;
    padding: 1rem 6rem;
    margin: 0 auto;
  }

  .card-project {
    background-color: #D9D9D9;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .contact-container {
    margin: 2rem 0 2rem 0;
    padding: 0 1rem;
  }

  .card-contact {
    padding: 1.2rem 1.2rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 600px;
    margin: 3rem auto;
    border-radius: 0.2rem;
  }

  .line-footer {
    height: 2rem;
    background-color: #006CA2;
  }

  .container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
  }

  .container-footer h2 {
    font-size: 1rem;
  }

  .container-footer img {
    width: 130px;
  }


  .sticky-wrapper {
    position: relative;
  }

  .sticky-img {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
  }

  .projects,
  .contact-container {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.95);
  }

}


@media only screen and (min-width: 1280px) {

  body {
    max-width: 1280px;
    margin: 0 auto;
  }

    header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:1280px;
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }

    .modal-container {
        max-width: 800px;
        padding: 35px;
    }

    .modal-title {
        font-size: 30px;
    }

    .input-field,
    .textarea-field {
        font-size: 19px;
    }

    .btn-submit {
        font-size: 19px;
        padding: 18px;
    }


  main {
    padding-top: 12rem; 
  }
    .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    gap: 1rem;
    margin: 0 auto;
  }

    .projects h3 {
    font-size: 1.8rem;
  }

  .card-project {
    background-color: #D9D9D9;
    width: auto;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  .card-contact {
    padding: 1.2rem 1.2rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 650px;
    margin: 3rem auto;
    border-radius: 0.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    gap: 1rem;
    padding: 1rem 6rem;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
    body {
    max-width: 1440px;
    margin: 0 auto;
  }

    header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:1440px;
    z-index: 1000;
    background-color: #FFFFFF; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }

     .modal-container {
        max-width: 850px;
        padding: 40px;
    }

    .modal-title {
        font-size: 32px;
    }

    .input-field,
    .textarea-field {
        font-size: 20px;
    }

    .btn-submit {
        font-size: 20px;
        padding: 20px;
    }

  main {
    padding-top: 12rem; 
  }
}
@media only screen and (min-width: 1920px) {


      .sticky-img {
        width: 100%;
        display: block;
      }

      .modal-container {
          max-width: 900px;
          padding: 45px;
      }

      .modal-title {
          font-size: 34px;
      }

      .input-field,
      .textarea-field {
          font-size: 21px;
      }

      .btn-submit {
          font-size: 21px;
          padding: 22px;
      }
    .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 6rem;

  }

  .projects h3 {
    font-size: 2rem;
  }

    .card-project {
    background-color: #D9D9D9;
    width: auto;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .card-contact {
    padding: 1.2rem 1.2rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 850px;
    margin: 3rem auto;
    border-radius: 0.2rem;
  }

    .sticky-wrapper {
    position: relative;
  }

  .sticky-img {
    position: sticky;
    top: 0;
    width: 100%;
    height: 350px;
    object-fit: fill;
    z-index: -1;
    padding-top: 5rem;
  }

  .projects,
  .contact-container {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.95);
  }



}